<!--Service Example-->
<div>after async pip:{{asyncdata | async}} </div>
<h3>service Output From AppComponent:</h3>
<br>
<p>{{FirstName}}</p>
<br>
<p>{{Personname.name}}</p>
<br>
<button (click)="setName()">Click Me</button>
<br>
<h1>welcome to our {{title}}</h1>
<app-header></app-header>
<br>
<h2>Structural Directive example using [src] for img</h2><br>
<img [src]="JB">
<br>
<h2>attribute Directive example using [attr.] for table</h2><br>
<table border=2 cellpadding=4>
  <tr><td [attr.colspan]="1+1">Some title</td></tr>
    <TR> <TD>Raha Mutisya</TD> <TD>1493</TD> </TR>
     <TR> <TD>Shalom Buraka</TD> <TD>3829</TD> </TR>
</table>
<br>

<h2>Structural Directive  using [class.] and flag</h2><br>
<p [class.p_style]="flag">Some paragraph</p>

<br>
<label>one way view to source:</label>
<input type="text" #input (keyup)="onkeyup(input.value)">
<br>
<p>the name is :{{name}}</p>
<br>
<label>Two ways</label>
<input type="text" [(ngModel)]="name">
<br>
<input type="text" #input2
(blur)="add(input2.value)">
<button (click)="add(input2.value)">AddName</button>
<br>

<h2>Structural Directive example using *ngfor and list </h2><br>
<ul>
  <li *ngFor="let x of namelist">{{x}}</li>
</ul>
<br>

<br>
<h2>pipes examples</h2><br>
<div>after custome pip:{{2 | expon:10 }} </div>
<div>after upper case pip:{{'thaermussa' | uppercase}} </div>
<div>after lower case pip:{{'THAERMUSSA' | lowercase}} </div>
<div>after date  pip:{{'01/15/2019' | date:'yMMMMEEEEd'}} </div>
<div>after currency pip:{{123 | currency:'USD'}} </div>

<br>
<ul>
    <li *ngFor="let animal of animalList; let i=index">
      <h3>{{i}}</h3>
      <h2>{{animal.name}}</h2>

    </li>

</ul>


<h3>Components communications</h3>


<app-child1 (changecolor)="UpdateColor($event)"></app-child1>
<app-child2 [selected]="color"></app-child2>

<br>
<span [ngSwitch] = "toChoice">
 <span *ngSwitchCase="'Eve'">Eve</span>
 <span *ngSwitchCase="'Bob'">Bob</span>
 <span *ngSwitchCase="'Moe'">Moe</span>
 <span *ngSwitchDefault>other</span>
</span>



